body {
    background-color: azure;
    font-feature-settings: "calt"
    
    

    

}
.container {
    margin-top: 50px;
    
}

  


 .footer-bottom {
    background-color: cornflowerblue;
    height: 20px;
    width: 100%
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
}

.header {
    margin-top: 20px;
}

